<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %>
    
    <div class="container-fluid">
        <div class="px-lg-5">
                <div class="row">
                    
                    <% if (lista_cats.length > 0) { %>
                        <% for (let cat of lista_cats) { %>
                    <!-- Gallery item -->
                    <div class="card bg-secondary text-white" style="width:400px;  margin: 1rem;">
                        <img class="card-img-top mx-auto" src="/images/<%= cat.imagen %>.jpg" alt="Card image" style="width:350px; height: 300px;">
                        <div class="card-body">
                            <h4 class="card-title"><%= cat.nombre %></h4>
                            <p class="card-text">Fotografías de gatos</p>
                        </div>
                    </div>
                    <!-- End -->
                    <% } %>
                    <% } else { %>
                        <h3>No hay Fotografía de gatitos</h3>
                    <% } %>

                </div>
            </div>
            <div class="card mx-auto" style="width: 25rem;">
                <div class="card-header">
                    Mi <%= mascota %> 
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Conociendo a tu <%= mascota %></h5>
                    <p class="card-text">Hablame sobre tu <%= mascota %></p>
                    <a href="/cats/add" class="btn btn-dark">Describir</a>
                </div>
            </div> 
        </div>
        <%- include('includes/Footer.ejs') %>
</body>
</html>