<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %>
    
    <div class="container-fluid">
        <div class="px-lg-5">
            <p class="h1">Mural de Mascotas</p>
            <div class="row">
                <% if (lista_mascotas.length > 0) { %>
                    <% for (let mascota of lista_mascotas) { %>
                <!-- Gallery item -->
                <div class="card bg-secondary text-white" style="width:400px; margin: 1rem;">
                    <img class="card-img-top" src="/images/<%= mascota.imagen %>.jpg" alt="Card image" style="width:350px; height: 270px;">
                    <div class="card-body">
                        <h4 class="card-title"><%= mascota.nombre %></h4>
                        <p class="card-text">Fotografías de <%= mascota.nombre %></p>
                        <% if (mascota.nombre === 'Perros') {  %>
                        <a href="/dogs" class="btn btn-dark">Ver Fotografías</a>
                        <% }else{ %>
                        <a href="/cats" class="btn btn-dark">Ver Fotografías</a>
                        <% } %>
                    </div>
                </div>
                <!-- End -->
                <% } %>
                <% } else { %>
                    <h3>Aún no se han agregado fotografías al Mural</h3>
                <% } %>
            </div>
            <% if( isLoggedIn ) { %>
            <div class="card">
                <div class="card-header">
                    Anectotas 
                </div>
                <div class="card-body">
                    <h5 class="card-title">Historias para contar</h5>
                    <p class="card-text">Cuentame sobre una de tus historias favoritas con alguna de tus mascotas.</p>
                    <a href="/storyTime" class="btn btn-dark">Contar</a>
                </div>
            </div>   
            <br>
            <% } %>
            <div class="card">
                <div class="card-header">
                    <%= Titulo %> 
                </div>
                <div class="card-body">
                    <h5 class="card-title">¿Qué beneficios encuentras en el estilo MVC?</h5>
                    <p class="card-text">
                        Al utilizar un patrón de diseño de arquitectura de software como Model-View-Controller (MVC) nos permite realizar una
                        mejor separación y organización de las carpetas del proyecto en desarrollo, permitiendo que este sea estructurado de una mejor manera
                        lo cual facilita la programación en diferentes capas en forma paralela e independiente.
                        <br>
                        El principal beneficio es, justamente, la posibilidad de modificar la interfaz gráfica, los datos o ---. sin la necesidad de modificarlos todos. 
                        Incluyendo, que este patrón de diseño también permite desarrollar aplicaciones escalables y modulares, facilitando su actualización o agregar nuevas 
                        funcionalidades, etc.
                        <br>
                        De manera listada, se puede decir que algunas ventajas son:
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Implementación de forma modular</li>
                            <li class="list-group-item">Disminuye la dificultad al agregar nueva funcionalidad o actualizar algún segmento de la aplicación web</li>
                            <li class="list-group-item">Facilidad de programación en diferentes capas de forma paralela e independiente</li>
                            <li class="list-group-item">Reducción del tiempo al dar mantenimiento a la aplicación web</li>
                            <li class="list-group-item">Facilidad de escalabilidad en la aplicación web</li>
                            <li class="list-group-item">Facilidad para la realización de pruebas de los componentes</li>
                            <li class="list-group-item">Reutilización de componentes</li>
                        </ul>
                    </p>
                    <br>
                    <blockquote class="blockquote" style="font-size: small;">
                        <p class="blockquote-footer">
                            MarketiWeb. (2019, October 3). ¿Qué es la arquitectura MVC y cuáles son sus ventajas? <em>Marketiweb.com</em> Recuperado de: https://marketiweb.com/empresa/blog/item/114-que-es-la-arquitectura-mvc-y-cuales-son-sus-ventajas
                        </p>
                        <p class="blockquote-footer">
                            López, A. (2020). Capítulo 2. Arquitectura del Software. <em>Bibliotecas UDLAP | Colección de Tesis Digitales</em> Recuperado de: http://catarina.udlap.mx/u_dl_a/tales/documentos/lis/rivera_l_a/capitulo2.pdf
                        </p>
                    </blockquote>
                </div>
                <div class="card-body">
                    <h5 class="card-title">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h5>
                    <p class="card-text">
                        Algunas desventajas al usar MVC en el desarrollo de una aplicación web son:
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Aumenta la complejidad al sistema al realizar la separación de conceptos en capas</li>
                            <li class="list-group-item">Se incrementa la cantidad de archivos</li>
                            <li class="list-group-item">Se requiere mayor dedicación del tiempo </li>
                        </ul>
                    </p>
                    <br>
                    <blockquote class="blockquote" style="font-size: small;">
                        <p class="blockquote-footer">
                            MarketiWeb. (2019, October 3). ¿Qué es la arquitectura MVC y cuáles son sus ventajas? <em>Marketiweb.com</em> Recuperado de: https://marketiweb.com/empresa/blog/item/114-que-es-la-arquitectura-mvc-y-cuales-son-sus-ventajas
                        </p>
                        <p class="blockquote-footer">
                            TutorialsTeacher (2020).Template Engines for Node.js <em>TutorialsTeacher</em> Recuperado de: https://www.tutorialsteacher.com/nodejs/template-engines-for-nodejs
                        </p>
                        Junta de Andalucía (s.f) Patrón Modelo Vista Controlador. <em>Marco de Desarrollo de la Junta de Andalucía | Junta de Andalucía</em> Recuperado de: http://www.juntadeandalucia.es/servicios/madeja/contenido/recurso/122
                    </blockquote>
                </div>
            </div> 
            
        </div>
    </div>
    <%- include('includes/Footer.ejs') %>
</body>
</html>