<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %>
    
    
    <div class="container-fluid">
        
        <div class="px-lg-5">
            <p class="h1 text-center">UN MUNDO DE SUPER HEROES</p>
            <p class="text-center" id="text">
                Ni Superman, Iron Man o La Mujer Maravilla son tan importantes cómo las 
                y los Heroes de carne y hueso que encontrarás en este sitio. Espero que 
                ellas y ellos te sirvan como inspiración para poder cumplir tus objetivos. 
            </p>
            <br>
            <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" >
            <div class="input-group" >
                <div class="form-floating col-lg-12 col-md-12 col-sm-12">
                    <input type="text" name="search" class="form-control rounded-pill" id="buscar" aria-label="Search"
                    aria-describedby="search-addon" placeholder="buscar" aria-placeholder="Buscar">
                    <label for="floatingInputGrid">Buscar</label>
                </div>
            </div>
            <br>
            
            <% if( isLoggedIn ) { %>
            <a class="btn btn-dark" href="/add" type="button">Agregar Nuevo</a>
            <% } %>
            <div class="row mx-auto px-3" id="card_heroe">
                <% if (lista_heroes.length > 0) { %>
                    <% for (let heroe of lista_heroes) { %>
                <!-- Gallery item -->
                <div class="card bg-secondary text-white" style="width:400px; margin: 1rem;">
                    <img class="card-img-top" src="/images/<%= heroe.imagen %>" alt="Card image" style="width:350px; height: 270px;">
                    <div class="card-body">
                        <h4 class="card-title"><%= heroe.nombre %></h4>
                        <a id="heroe" href="/detalle/<%= heroe.id %>" class="btn btn-dark">Ver información</a>
                    </div>
                </div>
                <!-- End -->
                    <% } %>
                <% } else { %>
                    <h3>Aún no se han agregado heroes al Mural</h3>
                <% } %>
            </div>
            
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Preguntas Laboratorio 24</h4>
                </div>
                <div class="card-body" id="pregunta1">
                    <h5 class="card-title">Elabora un diagrama y explica cómo funciona AJAX.</h5>
                    <div class="card-group text-center mx-auto">
                        <div class="card">
                            <img src="/images/DiagramaAJAX2.JPG" class="card-img-top img-thumbnail mx-auto" alt="..." style="width:550px; height: 400px;">
                            <div class="card-body">
                                <h6 class="card-title">Diagrama de funcionamiento AJAX 1</h6>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/images/DiagramaAJAX1.JPG" class="card-img-top img-thumbnail mx-auto" alt="..." style="width:550px; height: 400px;">
                            <div class="card-body">
                                <h6 class="card-title">Diagrama de funcionamiento AJAX 2</h6>
                            </div>
                        </div>
                        <div class="card">
                            <img src="/images/DiagramaAJAX3.JPG" class="card-img-top img-thumbnail mx-auto" alt="..." style="width:550px; height: 400px;">
                            <div class="card-body">
                                <h6 class="card-title">Diagrama de funcionamiento AJAX 3</h6>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="card-body" id="pregunta2">
                    <h5 class="card-title">¿Qué alternativas a jQuery existen?</h5>
                    <p class="card-text">
                        jQuery es básicamente una biblioteca diseñada para simplificar la programación en lenguaje JavaScript.
                        <br>
                        Alternativas a JQuery:
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-action">ReactJS</li>
                            <li class="list-group-item list-group-item-action">Zeptos.js: Alternativa minimalista</li>
                            <li class="list-group-item list-group-item-action">XUI</li>
                            <li class="list-group-item list-group-item-action">Snack.js</li>
                            <li class="list-group-item list-group-item-action">140medley</li>
                            <li class="list-group-item list-group-item-action">Umbrella JS: Se utiliza tanto para el desarrollo web como para el desarrollo de aplicaciones móviles multiplataforma</li>
                        </ul>
                    </p>
                    <br>
                    <blockquote class="blockquote" style="font-size: small;">
                        <p class="blockquote-footer">
                            Rubén Velasco. (2020, October 2). Programa para todas las plataformas con estas alternativas a jQuery. Retrieved October 26, 2021, from SoftZone website: https://www.softzone.es/programas/lenguajes/alternativas-jquery/
                        </p>
                    </blockquote>
                </div>
                <div class="card-body" id="pregunta3">
                    <h5 class="card-title">¿Qué es una promesa en js?</h5>
                    <p class="card-text">
                        Una <em><strong>Promesa</strong></em> es un objeto que representa un valor que puede que esté disponible «ahora», en un «futuro» o que «nunca» lo esté. Por lo tanto, como no sabemos
                        si estará disponible o en que momento lo estará, todas las operaciones dependientes de este valor tendrán que posponerse en el tiempo.
                    </p>
                    <br>
                    <blockquote class="blockquote" style="font-size: small;">
                        <p class="blockquote-footer">
                            Qué son las promesas de JavaScript - Blog de arsys.es. (2020, January 3). Retrieved October 26, 2021, from Blog de arsys.es website: https://www.arsys.es/blog/promesas-javascript/
                        </p>
                    </blockquote>
                </div>
                <div class="card-body" id="pregunta4">
                    <h5 class="card-title">¿Cómo funcionan async y await?</h5>
                    <p class="card-text">
                        <strong>Async</strong>
                        <br>
                        Async es una función asincrona, la cual devuelve un objeto. Cuando se llama a una funcion <em>async</em>, esta devuelve un elemento Promise.
                        Cuando la función async devuelve un valor, Promise se resolverá con el valor devuelto. Si la función async genera una excepción o algún valor, Promise se rechazará con el valor generado.
                        <br>
                        En otras palabras, La palabra “async” ante una función significa solamente una cosa: que la función siempre devolverá una promesa. Otros valores serán envueltos y resueltos en una promesa automáticamente.
                        <br>
                        <hr>
                        <strong>Await</strong>
                        <br>
                        El operador await es usado para esperar a una Promise. Sólo puede ser usado dentro de una función async function.
                        La expresión await provoca que la ejecución de una función async sea pausada hasta que una Promise sea terminada o rechazada, y regresa a la ejecución de la función async después del término. Al regreso de la ejecución, el valor de la expresión await es la regresada por una promesa terminada.
                        En otras palabras, await hace que JavaScript espere hasta que la promesa responda y devuelve su resultado.
                    </p>
                    <br>
                    <blockquote class="blockquote" style="font-size: small;">
                        <p class="blockquote-footer">
                            Función async - JavaScript | MDN. (2021, October 25). Retrieved October 26, 2021, from Mozilla.org website: https://developer.mozilla.org/es/docs/Web/JavaScript/Reference/Statements/async_function
                        </p>
                    </blockquote>
                    <blockquote class="blockquote" style="font-size: small;">
                        <p class="blockquote-footer">
                            await - JavaScript | MDN. (2021, October 24). Retrieved October 26, 2021, from Mozilla.org website: https://developer.mozilla.org/es/docs/Web/JavaScript/Reference/Operators/await
                        </p>
                    </blockquote>
                    <blockquote class="blockquote" style="font-size: small;">
                        <p class="blockquote-footer">
                            Async/await. (2021). Async/await. Retrieved October 26, 2021, from Javascript.info website: https://es.javascript.info/async-await
                        </p>
                    </blockquote>
                </div>
                <div class="card-body" id="pregunta5">
                    <h5 class="card-title">En que parte se utilizo JQuery</h5>
                    <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-action">Form - Submit | Aparece alerta</li>
                            <li class="list-group-item list-group-item-action">Titulos - Cambian de color al pasar el mouse sobre el texto</li>
                            <li class="list-group-item list-group-item-action">En la nav-bar</li>
                            <li class="list-group-item list-group-item-action">En las inputs</li>
                            <li class="list-group-item list-group-item-action">En cada sección de pregunta para el laboratorio</li>
                        </ul>
                    </p>
                </div>
            </div>    
        </div>
    </div>
    <%- include('includes/Footer.ejs') %>
    <%- include('includes/scriptSearch.ejs') %>
</body>
</html>